:root {
	--color: #9EBEED;
	--background: #4B6B03;
	--white: #F0EFEC;

	/* ======FONTS====== */
	--body-copy: 1.5rem;
	--h1-copy: calc(var(--body-copy) * 7.5);
	--h2-copy: calc(var(--body-copy) * 1.5);
	--h3-copy: calc(var(--body-copy) *1);
	--font-body: "Quicksand", "helvetica", "san-serif";
	--font-heading: "Gasoek One";

	/* ======SPACING====== */
	--gutter: calc(var(--body-copy) * 1.5);
}


body {
	font-family: var(--font-body);
	color: var(--color);
	background-color: var(--background);
	font-size: var(--body-copy);

	scroll-behavior: smooth;
}

h2 {
	font-size: var(--h2-copy);
	font-weight: 600;
	/* REPLACE WITH VARIABLE */
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding: 1rem;
	padding-left: 4rem;
	background-color: var(--color);
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

h3 {
	font-weight: 800;
}


h1 {
	font-family: var(--font-heading);
	font-size: var(--h1-copy);
	width: max-content;
	text-transform: uppercase;
	padding-top: 2rem;
	/* text-align: center; */
	width: fit-content;
	margin: 0 auto;
}

.work {
	background-color: aliceblue;
	color: var(--background);
	border-radius: 2rem;
	margin: 1rem;
}

.intro {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	gap: 4rem;
	align-items: flex-start;
}

.intro p {
	padding-left: 2rem;
	padding-right: 3rem;
	flex: 1;
	max-width: 70vw;
}

.find_links {
	width: 10vw;
	flex-shrink: 0;
	white-space: nowrap;
}

/* a {
	text-decoration: underline;
	text-underline-offset: .2rem;
} */

/* ul.projects {
	border-bottom: solid .05rem var(--color); */
/* 
a {
	display: block;
	text-decoration: none;
	color: inherit;
} */

a li {
	padding: 1rem;
	cursor: pointer;
}

.projects li {
	/* background-color: #F2F1EC; */
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
	padding-left: calc(var(--gutter) * 2);
	padding-right: calc(var(--gutter) * 2);
	border-top: solid .05rem var(--color);
	justify-content: space-between;
}


footer {
	/* position: fixed; */
	background-color: var(--color);
	color: var(--background);
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;

	text-align: center;
}