:root {
    --color: blue;
    --background: #ddd;

    /* ======FONTS====== */
    --body-copy: 1.5rem;
    --heading-copy: calc(var(--body-copy) * 10);
    --font-body:"Quicksand","helvetica","san-serif";
    --font-heading:"Gasoek One";

  /* ======SPACING====== */
    --gutter: calc(var(--body-copy) * 1.5);
}



body{
    font-family: var(--font-body);
    color: var(--color);
    background-color: var(--background);
    font-size: var(--body-copy);
}

h1{
    font-family: var(--font-heading);
    font-size: var(--heading-copy);
    display: flex;
    flex-direction: column;
    line-height: 100%
}

a {
    text-decoration: underline;
    text-underline-offset: .2rem;
}

ul a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  ul a li {
    padding: 1rem;
    cursor: pointer;
  }
  
li {
    background-color: #F2F1EC;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
    border-top: solid 1.5px black;
    justify-content: space-between;
}

footer {
    /* position: fixed; */
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;
}
